@import "./variables";

html,
body,
#root {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  @include horizontal-gradient(#2f0784, #5f1eac);
  color: #fffffd;
  font-family: $primary-font, -apple-system, system-ui, sans-serif;
}
